p{
    font-family: Roboto,Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}
body{
    height: 700px;
    margin: 0;
    padding-top: 70px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgba(250, 250, 250, 0.849);
}